name: Qodana

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v4
      - name: Run Qodana
        uses: JetBrains/qodana-action@v2024.1
        with:
          linter: jetbrains/qodana-jvm
version: 1.0
